/*Top Bar CSS*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4285F4;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 40px
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;x  
    text-decoration: none;
}
/*Top Bar CSS*/