<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret nyt Projekt</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/addDepartment.css}">
</head>
<body>

<div th:insert="/fragments/topBar"></div>

<div class="container">
    <h2>Create new Department</h2>
    <form action="addDepartment" method="post">

        <!--        Vi bruger task-title i stedet for title, da flere objekter kan have de samme parameter navne-->
        <label for="name-field">Department Name:</label>
        <input id="name-field" name="department-name" type="text">

        <input type="submit" value="ADD DEPARTMENT">
    </form>
</div>
</body>
</html>