<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret nyt Projekt</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/addProject.css}">
</head>
<body>

<div th:insert="~{/fragments/topBar}"></div>

<div class="container">
    <h2>Create New Project</h2>
    <form action="/addProject" method="post">

        <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

        <label for="name-field">Project Name:</label>
        <input type="text" id="name-field" name="project-name">

        <input type="submit" value="Create Project">
    </form>
</div>
</body>
</html>