<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret nt task</title>
</head>
<body>
<div class="container">
    <h1>Opret nyt task</h1>
    <form action="addTask.html" method="post">

<!--        Vi bruger task-title i stedet for title, da flere objeker kan have de samme parameter navne-->
        <label for="title-field">Task titel:</label>
        <input id="title-field" name="task-title" type="text">

        <label for="description-field">Task description:</label>
        <input id="description-field" name="task-description" type="text">

        <label for="note-field">Task note:</label>
        <input id="note-field" name="task-note" type="text">

        <label for="hours-field">Task hours:</label>
        <input id="hours-field" name="task-hours" type="text">

<!--        vi skal holde øje med FLAG boolean datatypen -->
<!--        MySQL bruger "TINYINT" -->
<!--        HTML bruger "checkbox"-->
<!--        JAVA bruger "boolean"-->
        <label for="flag-field">Task flag:</label>
        <input id="flag-field" name="task-flag" type="checkbox">

        <label for="start_date-field">Task start date:</label>
        <input id="start_date-field" name="task-start_date" type="text">

        <label for="end_date-field">Task end date:</label>
        <input id="end_date-field" name="task-end_date" type="text">

        <label for="status-field">Task status:</label>
        <input id="status-field" name="task-status" type="text">

        <label for="department-field">Task deparment:</label>
        <input id="department-field" name="task-end_date" type="text">



        <input type="ADD TASK" value="Opret produkt">
    </form>
</div>
</body>
</html>