<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret nt task</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/addTask.css}">
</head>
<body>

<div th:insert="/fragments/topBar"></div>

<div class="container">
    <h2>Create new task</h2>
    <form action="addTask" method="post">

<!--        Vi bruger task-title i stedet for title, da flere objekter kan have de samme parameter navne-->
        <label for="title-field">Task titel:</label>
        <input id="title-field" name="task-title" type="text">

        <label for="description-field">Task description:</label>
        <input id="description-field" name="task-description" type="text">

        <label for="note-field">Task note:</label>
        <input id="note-field" name="task-note" type="text">

        <label for="hours-field">Task hours:</label>
        <input id="hours-field" name="task-hours" type="number">

        <label for="start_date-field">Task start date:</label>
        <input id="start_date-field" placeholder="26-08-2022" name="task-start_date" type="date" th:value="${task.start_Date}">

        <label for="end_date-field">Task end date:</label>
        <input id="end_date-field" placeholder="27-08-2022" name="task-end_date" type="date" th:value="${task.end_Date}">


        <label for="status-field">Task status:</label>
        <select id="status-field" name="task-status">
            <option value="Pending" th:selected="${task.status == 'Pending'}">Pending</option>
            <option value="Assigned" th:selected="${task.status == 'Assigned'}">Assigned</option>
            <option value="In progress" th:selected="${task.status == 'In progress'}">In progress</option>
            <option value="Finished" th:selected="${task.status == 'Finished'}">Finished</option>
        </select>

        <label for="department-field">Task department:</label>
        <input id="department-field" name="task-department" type="text">

        <input type="submit" value="ADD TASK">
    </form>
</div>
</body>
</html>