<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/css/allTasks.css}">
</head>
<body>
<div class="container">
    <h1>Task List</h1>
    <table>
        <thead>
        <th>Department ID</th>
        <th>Name</th>
        </thead>
        <tbody>
        <tr th:each="department : ${department}">
            <td th:text="${department.id}">42</td>
            <td th:text="${department.departmentName}">42</td>
            <td>
                <a th:href="@{'/showDepartment/' + ${department.id}}" href="/showDepartment"><button>ENTER</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/addTask"><button>Add Task</button></a>
    <a href="/userTasks"><button>User Tasks</button></a>
    <a href="/allTasks"><button>All Users</button></a>
    <a href="/admin"><button>Admin</button></a>

</div>
</body>
</html>