<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/allUsers.css}">
</head>
<body>

<!--Top Bar CSS-->
<div th:insert="/fragments/topBar"></div>

<div class="container">
    <h1>All Users</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.getId()}">ID</td>
            <td th:text="${user.getFirstName()}">FORNAVN</td>
            <td th:text="${user.getLastName()}">EFTERNAVN</td>
            <td th:text="${user.getEmail()}">EMAIL</td>
        </tr>
        </tbody>
    </table>
    <a href="/addTask"><button>Add Task</button></a>
    <a href="/userTasks/"><button>User Tasks</button></a>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>

</div>
</body>
</html>
