<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign User</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/assignUser.css}">
</head>
<body>

<div th:insert="fragments/topBar"></div>

    <h2>Assign User to Task</h2>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Assign</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.firstName}">FORNAVN</td>
                <td th:text="${user.lastName}">EFTERNAVN</td>
                <td th:text="${user.email}">EMAIL</td>
                <td>
                    <form action="/assignUser" method="post">
                        <input type="hidden" name="task_id" th:value="${task.id}" />
                        <input type="hidden" name="userId" th:value="${user.id}" />
                        <button type="submit">Assign</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
