<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div th:insert="/fragments/topBar"></div>

<div class="container">
    <h2>Register new User</h2>
    <form action="/register" method="post">

        <label for="admin">Check for Admin:</label>
        <input type="checkbox" id="admin" name="admin">

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" placeholder="First Name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" placeholder="Last Name" name="last_name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email" name="email" required>
<!--        <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>-->

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" name="password" required>

        <input type="submit" value="Create Account">
    </form>

    <a href="/login"><button>Already have an account?</button></a>

</div>
</body>
</html>
