<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/showProject.css}">
</head>
<body>

<div th:insert="~{/fragments/topBar}"></div>

    <h2>Departments</h2>

    <div class="button-container">
        <a href="/addDepartment"><button>Create Department</button></a>
    </div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${department}">
            <td class="hidden" th:text="${department.getId()}">42</td>
            <td th:text="${department.getDepartmentName()}">42</td>
            <td>
                <a th:href="@{'/showDepartment/' + ${department.getId()}}" href="/showDepartment"><button>Enter</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>