<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/showProject.css}">
</head>
<body>

<div th:insert="/fragments/topBar"></div>

    <h2>Admin Dashboard</h2>

    <table>
        <thead>
        <th>Department ID</th>
        <th>Name</th>
        </thead>
        <tbody>
        <tr th:each="department : ${department}">
            <td th:text="${department.getId()}">42</td>
            <td th:text="${department.getDepartmentName()}">42</td>
            <td>
                <a th:href="@{'/showDepartment/' + ${department.getId()}}" href="/showDepartment"><button>ENTER</button></a>
            </td>
        </tr>
        <a href="/addDepartment"><button>Create Department</button></a>
        </tbody>
    </table>



</body>
</html>