<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Pilot</title>
    <link rel="stylesheet" th:href="@{/css/start.css}">
</head>
<body>
<header>
    <h1>Project Pilot</h1>
</header>
<main>
    <p>Efficient project management for your team</p>
    <a href="/login"><button>Login</button></a>
    <a href="/register"><button>Register User</button></a>
    <a href="/allTasks"><button>All Task</button></a>
</main>
</body>
</html>

