<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
</head>
<body>
<div class="container">
    <h1>Update task</h1>
    <form action="/updateTask" method="post">

<!--        Man skal ikke kunne ændre "task_id" men skal man kunne ændre user_id ?-->
        <input id="task_id-field" name="task-task_id" type="hidden" th:value="${task.task_id}">
        <input id="user_id-field" name="task-user_id" type="hidden" th:value="${task.user_id}">

        <label for="title-field">Task titel:</label>
        <input id="title-field" name="task-title" type="text" th:value="${task.title}">

        <label for="description-field">Task description:</label>
        <input id="description-field" name="task-description" type="text" th:value="${task.description}">

        <label for="note-field">Task note:</label>
        <input id="note-field" name="task-note" type="text" th:value="${task.note}">

        <label for="hours-field">Task hours:</label>
        <input id="hours-field" name="task-hours" type="number" th:value="${task.hours}">

        <label for="pay_rate-field">Task payrate:</label>
        <input id="pay_rate-field" name="task-pay_rate" type="number" th:value="${task.payRate}">

        <label for="start_date-field">Task start date:</label>
        <input id="start_date-field" name="task-start_date" type="text" th:value="${task.start_Date}">

        <label for="end_date-field">Task end date:</label>
        <input id="end_date-field" name="task-end_date" type="text" th:value="${task.end_Date}">

        <label for="status-field">Task status:</label>
        <input id="status-field" name="task-status" type="text" th:value="${task.status}">

        <label for="department-field">Task department:</label>
        <input id="department-field" name="task-department" type="text" th:value="${task.department}">

        <input type="submit" value="UPDATE TASK">
    </form>
</div>
</body>
</html>