<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/updateTask.css}">
</head>
<body>

<div th:insert="~{/fragments/topBar}"></div>


<div class="container">
    <h2>Update Task</h2>
    <form action="/updateTask" method="post">

        <input id="task_id-field" name="task-task_id" type="hidden" th:value="${task.id}">
        <input id="user_id-field" name="task-user_id" type="hidden" th:value="${task.user_id}">

        <label for="title-field">Task Title:</label>
        <input id="title-field" name="task-title" type="text" th:value="${task.title}">

        <label for="description-field">Task Description:</label>
        <input id="description-field" name="task-description" type="text" th:value="${task.description}">

        <label for="note-field">Task Note:</label>
        <input id="note-field" name="task-note" type="text" th:value="${task.note}">

        <label for="hours-field">Task Hours:</label>
        <input id="hours-field" name="task-hours" type="number" th:value="${task.hours}">

        <label for="pay_rate-field">Task Pay Rate:</label>
        <input id="pay_rate-field" name="task-pay_rate" type="number" th:value="${task.payRate}">

        <label for="start_date-field">Task Start Date:</label>
        <input id="start_date-field" placeholder="23-05-2019" name="task-start_date" type="date" th:value="${task.start_Date}">

        <label for="end_date-field">Task End Date:</label>
        <input id="end_date-field" placeholder="24-06-2020" name="task-end_date" type="date" th:value="${task.end_Date}">

        <label for="status-field">Task Status:</label>
            <select id="status-field" name="task-status">
                    <option value="Pending" th:selected="${task.status == 'Pending'}">Pending</option>
                    <option value="Assigned" th:selected="${task.status == 'Assigned'}">Assigned</option>
                    <option value="In progress" th:selected="${task.status == 'In progress'}">In progress</option>
                    <option value="Needs review" th:selected="${task.status == 'Needs review'}">On hold</option>
                    <option value="Finished" th:selected="${task.status == 'Finished'}">Finished</option>
            </select>

        <input id="department-field" name="task-department" type="hidden" th:value="${task.department}">

        <input type="submit" value="Update Task">
    </form>
</div>
</body>
</html>