<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update project</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/updateProject.css}">
</head>
<body>

<div th:insert="fragments/topBar"></div>

<div class="container">
    <h2>Update project</h2>
    <form action="/updateProject" method="post" th:object="${project}">

<!--        <label for="projectId-field">Project ID:</label>-->
        <input id="projectId-field" name="id" type="hidden" th:field="*{id}">

        <label for="projectName-field">Project name:</label>
        <input id="projectName-field" name="projectName" type="text" th:field="*{projectName}">

        <input type="submit" value="Update Project">
    </form>
</div>
</body>
</html>
