<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/adminStart.css}">
</head>

<body>

<div th:insert="fragments/topBar"></div>

<h2>User Dashboard</h2>

<div class="button-container">
    <a href="/userTasks"><button>My Tasks</button></a>
    <form action="/logout" method="get"><button type="submit" class="logout">Logout</button></form>
</div>

<div class="container">
    <h2>Projects</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${project}">
            <td class="hidden" th:text="${project.getId()}">id</td>
            <td th:text="${project.getProjectName()}">42</td>
            <td>
                <a th:href="@{'/showProjectUser/' + ${project.getId()}}" href="/showProjectUser/"><button>Select</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>