<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/userStart.css}">
</head>
<body>
<header>
    <h1>Project Pilot</h1>
</header>
<h2>User Dashboard</h2>

<table>
    <thead>
    <th>ID</th>
    <th>Name</th>
    </thead>
    <tbody>
    <tr th:each="project : ${project}">
        <td th:text="${project.getId()}">id</td>
        <td th:text="${project.getProjectName()}">42</td>
        <td>
            <a th:href="@{'/showProject/' + ${project.getId()}}" href="/showProject"><button>ENTER</button></a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/userTasks"><button>See My Tasks</button></a>




</body>
</html>