<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="../static/css/userTasks.css">
</head>
<body>
<div class="container">
    <h1>Task List</h1>
    <table>
        <thead>
        <tr>
            <th>Task ID</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Note</th>
            <th>Hours</th>
            <th>Pay Rate</th>
            <th>Flag</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${session.tasks}">
            <td th:text="${session.tasks.getTask_id()}">[task_id]</td>
            <td th:text="${task.task_id}">[task_id]</td>
            <td th:text="${task.user_id}">[user_id]</td>
            <td th:text="${task.title}">[title]</td>
            <td th:text="${task.description}">[description]</td>
            <td th:text="${task.note}">[note]</td>
            <td th:text="${task.hours}">[hours]</td>
            <td th:text="${task.payRate}">[payRate]</td>
            <td th:text="${task.flag}" class="flag">[flag]</td>
            <td th:text="${#dates.format(task.start_Date, 'dd-MM-yyyy')}">[start_Date]</td>
            <td th:text="${#dates.format(task.end_Date, 'dd-MM-yyyy')}">[end_Date]</td>
            <td th:text="${task.status}" class="status">[status]</td>
            <td th:text="${task.department}">[department]</td>
            <td>
                <a th:href="@{'/updateTask/' + ${task.task_id}}">
                    <button>UPDATE</button>
                </a>
            </td>
            <td>
                <form th:action="@{'/deleteTask/' + ${task.task_id}}" method="post">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
