<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Tasks</title>
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
    <link rel="stylesheet" th:href="@{/css/userTasks.css}">
</head>
<body>

<div th:insert="~{/fragments/topBar}"></div>

    <h2>My Tasks</h2>

    <div class="button-container">
        <a href="/home"><button>Dashboard</button></a>
        <form action="/logout" method="get">
            <button type="submit" class="logout">Logout</button>
        </form>
    </div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th><a href="/userTasks?sortingParameter=id">Task ID</a></th>
            <th><a href="/userTasks?sortingParameter=user_id">User ID</a></th>
            <th>Title</th>
            <th>Description</th>
            <th><a href="/userTasks?sortingParameter=note">Note</a></th>
            <th><a href="/userTasks?sortingParameter=hours">Hours</a></th>
            <th><a href="/userTasks?sortingParameter=pay_rate">Pay Rate</a></th>
            <th><a href="/userTasks?sortingParameter=flag">Flag</a></th>
            <th><a href="/userTasks?sortingParameter=start_date">Start Date</a></th>
            <th><a href="/userTasks?sortingParameter=end_date">End Date</a></th>
            <th><a href="/userTasks?sortingParameter=status">Status</a></th>
            <th><a href="/userTasks?sortingParameter=department">Department</a></th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}">42</td>
            <td th:text="${task.user_id}">meningen med alting</td>
            <td th:text="${task.title}">666</td>
            <td th:text="${task.description}">666</td>
            <td th:text="${task.note}">666</td>
            <td th:text="${task.hours}">666</td>
            <td th:text="${task.payRate}">666</td>
            <td th:text="${task.flag}">666</td>
            <td th:text="${#dates.format(task.start_Date, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(task.end_Date, 'dd-MM-yyyy')}"></td>
            <td th:text="${task.status}">666</td>
            <td th:text="${task.department}">666</td>
            <td>
                <a th:href="@{'/updateTask/' + ${task.id}}" href="/updateTask"><button>Update</button></a>
            </td>
            <td>
                <form th:action="@{'/deleteTask/' + ${task.id}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

